/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FDEECD;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar-links a {
  margin: 0 40px;
  text-decoration: none;
  color: #000;
}

/* src/components/HomePage.css */
.homepage {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

p {
  margin: 10px 0;
  font-size: 1.2em;
}

.social-links a {
  margin: 0 10px;
}

.social-links img {
  width: 30px;
  height: 30px;
}
